.quote {
    border-left: 3px solid var(--color-accent-hover);
    border-radius: 3px;
    padding: 6px;
}

.type {
    color: var(--color-background);
    font-size: 1.2rem;
}

.content {
    color: var(--color-accent-hover);
    font-size: 1.5rem;
}