.meaningContainer {
    width: 100%;
}

.meaning {
    width: 100%;
    background-color: var(--color-box-background);
    padding: 20px;
    border-radius: 5px 5px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectMeaningBox {
    display: flex;
    gap: 5px;
}

.selectMeaningBtn {
    width: 50px;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    background-color: var(--color-box-background);
    color: var(--color-btn-text);
    opacity: 1;
    transition: .1s;
}

.selectMeaningBtnActive {
    border: 3px solid var(--color-btn-border);
    border-top: none;
    transition: .1s;
    font-weight: bold;
}

.selectMeaningBtn:disabled {
    opacity: .5;
    cursor: not-allowed;
    transition: .1s;
}
